.vscode/
Mods/GustavDev/
Public/Game/GUI/Assets/Book
Public/Game/GUI/Assets/Fonts
Public/Game/GUI/Assets/LoadingScreen
Public/Game/GUI/AssetsLowRes
Public/Game/GUI/Theme
Public/Game/GUI/Assets/__folder_managed_by_vortex
Public/Game/GUI/__folder_managed_by_vortex
Public/Game/__folder_managed_by_vortex
Public/Shared/
Mods/Mistborn/ScriptExtender
